<h1>Hello!</h1>
<p>Likelater here,</p>
<p><%= t(".opening") %></p>

<p><a><%= link_to t(".link_text"),
  edit_user_password_url(@user, token: @user.confirmation_token.html_safe) %></a></p>

<p><%= t(".closing") %> <a href="mailto:hello@likelater.io">hello@likelater.io</a>.</p>
