<div class="grid grid-rows-2">
  <div>
    <%= form.label :email, class: "text-lg" %>
  </div>
  <div>
    <%= form.text_field :email, type: "email", class: "border border-gray-400 rounded",
      required: true %>
  </div>
</div>

<div class="grid grid-rows-2">
  <div>
    <%= form.label :password, class: "text-lg" %>
  </div>
  <div>
    <%= form.password_field :password, class: "border border-gray-400 rounded", required: true %>
  </div>
</div>
