<div class="p-4">
  <p class="text-xl">
    Use Likelater and never forget to read a link you see on Twitter ever again.
  </p>
  <p class="text-xl">
    Likelater gathers all of the tweets that you've liked that contain a link. It makes them
    easily available to you on your dashboard, and sends you a daily email with a recap of
    the links you've liked that day.
  </p>
  <div class="grid gap-4 md:grid-cols-2">
    <div class="col-span-1">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Not holding back, eh? &quot;It is not illegal for Apple to own a mall and rent space, nor is it illegal for Apple to own the only mall. What is illegal is exploiting the fact that it owns the only mall to charge excessively high pricing which harms competitors&quot; <a href="https://t.co/giJtHEgHox">https://t.co/giJtHEgHox</a></p>&mdash; Ars Technica (@arstechnica) <a href="https://twitter.com/arstechnica/status/1292138485244145665?ref_src=twsrc%5Etfw">August 8, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
    <div class="hidden md:block">
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Central Park will soon unveil its first sculpture depicting nonfictional female figures. “The fact that nobody even noticed that women were missing in Central Park — what does that say about the invisibility of women?” <a href="https://t.co/yYkQoX8VDG">https://t.co/yYkQoX8VDG</a></p>&mdash; The New York Times (@nytimes) <a href="https://twitter.com/nytimes/status/1292214025267433478?ref_src=twsrc%5Etfw">August 8, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
  </div>
</div>
