<div class="container-fluid" role="main">
  <div class="jumbotron odd">
    <div>
      <div class="row">
        <h1>Sign Up</h1>
      </div>
      <%= render "twitter_accounts/form", method: "post" %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="jumbotron even">
    <div>
      <div class="row">
        <span class="about">
          <p>
            Sign up for Likelater and we will send you a reminder email every day containing all of the links in your liked tweets for the day. 
          </p>
          <p>
            Click the unsubscribe link in any of the emails to remove yourself from our list, we'll be sorry to see you go!
          </p>
        </span>
      </div>
      <div class="row">
        <span class="tweet col-md-4 col-xs-12">
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/SmartCity?src=hash&amp;ref_src=twsrc%5Etfw">#SmartCity</a> data could improve as ppl become mobile sensors - reporting on traffic, air pollution, natural disasters <a href="https://t.co/POBBtHMEAW">https://t.co/POBBtHMEAW</a></p>&mdash; Ubuntu (@ubuntu) <a href="https://twitter.com/ubuntu/status/832884877250928642?ref_src=twsrc%5Etfw">February 18, 2017</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </span>
        <span class="tweet col-md-4 d-none d-md-block">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Has this rolled out to enough locales to make your weekend travel a bit saner? <a href="https://t.co/j2B9bBOCXR">https://t.co/j2B9bBOCXR</a></p>&mdash; Ars Technica (@arstechnica) <a href="https://twitter.com/arstechnica/status/832998645905682432">February 18, 2017</a></blockquote>
        </span>
        <span class="tweet col-md-4 d-none d-md-block">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Provided Dragon 2 demo missions go well, SpaceX is highly confident of being able to fly US astronauts in 2018 <a href="https://t.co/usUto6QSi7">https://t.co/usUto6QSi7</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/832863988836814848">February 18, 2017</a></blockquote>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="jumbotron odd footer">
    <p>Have any feedback? Tweet at us <a href="https://twitter.com/likelater" target="_blank">@likelater</a> or send us an email at <a href="mailto:info@likelater.io" target="_blank">info@likelater.io</a>!</p>
  </div>
</div>
