<div class="container-fluid" role="main">
  <div class="jumbotron odd">
    <div>
      <div class="row">
        <h1>Unsubscribe</h1>
      </div>
      <%= render "twitter_accounts/form", method: "delete" %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="jumbotron odd footer">
    <p>Have any feedback? Tweet at us <a href="https://twitter.com/likelater" target="_blank">@likelater</a> or send us an email at <a href="mailto:info@likelater.io" target="_blank">info@likelater.io</a>!</p>
  </div>
</div>
