<!DOCTYPE html>
<html lang="en">
<head>
    <title>Likelater roundup</title>

    <!-- Display Tweets -->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</head>
<body>
    <h1>Hello!</h1>
    <p>Here is your daily roundup of tweets with links.</p>
    {{#accounts}}
    {{#if new_tweets}}
    <h3>@{{handle}}:</h3>
    <ul>
        {{tweets}}
        <li>{{{html}}}</li>
        {{/tweets}}
    </ul>
    {{/accounts}}
    {{^}}
    <p>@{{handle}} doesn't have any new tweets that contain links. Check back tomorrow for some more tweets!</p>
    {{/if}}
</body>
