<!DOCTYPE html>
<html lang="en">
<head>
    <title>Likelater roundup</title>
</head>

<body>
    <h1>Hello!</h1>
    <p>Here is your daily roundup of liked tweets containing links.</p>
    {{#accounts}}
    {{#if new_tweets}}
    <h3>@{{handle}}:</h3>
    <ul>
        {{#tweets}}
        <li>{{{html}}}</li>
        {{/tweets}}
    </ul>
    {{^}}
    <p>@{{handle}} doesn't have any new liked tweets that contain links. Check back tomorrow for some more tweets!</p>
    {{/if}}
    {{/accounts}}
    <p>Click <a href="http://www.likelater.io/unsubscribe">here</a> to unsubscribe. We'll be sorry to see you go!</p>
    <p>Have any feedback? Reply to this email!</p>
</body>
