<!DOCTYPE html>
<html lang="en">
<head>
    <title>Likelater roundup</title>
</head>
<body>
    <img src="../public/images/logo_transparent.png"></img>
    <h1>Hello!</h1>
    <p>Here is your daily roundup of liked tweets containing links.</p>
    {{#accounts}}
    {{#if new_tweets}}
    <h3>@{{handle}}:</h3>
    <ul>
        {{#tweets}}
        <li>{{{html}}}</li>
        {{/tweets}}
    </ul>
    {{^}}
    <p>@{{handle}} doesn't have any new liked tweets that contain links. Check back tomorrow for some more tweets!</p>
    {{/if}}
    {{/accounts}}
</body>
